html , body {
    border:  none;
    margin: 0px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./backgroud.jpg);
}

header {
    width: 100%;
}

nav {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

button {
    border: none;
    background-color: black;
    height: 35px;
    color: white;
    font-size: 20px;
}

button:hover {
    border-bottom: 2px solid white;
}

#content {
    margin-top: 45px;
    width: 550px;
    height: 500px;
    background-color: rgba(20, 19, 19, 0.7);
    color: white;
}

.home {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-title {
    font-size: 35px;
    font-weight: bold;
}

.home-image {
    background-image: url(./image.jpg);
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}
