html , body {
    border:  none;
    margin: 0px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
}

nav {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

button {
    border: none;
    background-color: black;
    height: 35px;
    color: white;
    font-size: 20px;
}

div {
    text-align: center;
}

button:hover {
    border-bottom: 2px solid white;
}

#content {
    margin-top: 45px;
    width: 550px;
    min-height: 500px;
    background-color: rgba(90, 86, 86, 0.8);
    color: white;
}

.home {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-title {
    font-size: 35px;
    font-weight: bold;
}

.home-image {
    background-image: url(./image.jpg);
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}

.menu {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 30px;
}

.menu-card {
    background-color: rgba(19, 19, 19, 0.6);
    padding: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-image {
    background-image: url(./image.jpg);
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
}

.menu-title {
    font-weight: bold;
    font-size: large;
    color: rgb(220, 239, 255);
}
